*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(black, grey);
    font-family: sans-serif;
    color: rgb(84, 184, 214);
}

.temperature,
.location {
    display: flex;
    width: 50%;
    height: 30vh;
    justify-content: space-around;
    align-items: center;

}

.temperature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span{
    display: flex;
    margin: 10px;
    font-size: 20px;
}